@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100vw;
  min-height: 100vh;
  background-image: url("./assets/mobile/bg-image-daytime.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.evening {
  background-image: url("./assets/mobile/bg-image-nighttime.jpg");
}
.evening .grey{
  background-color: #000000;
}
.evening .quote {
  color: white;
}
.evening .author {
  color: white;
}
.evening .section p{
  color: white;
}
.evening .section h2{
  color: white;
}
.evening .quote{
  color: white;
}
.empty {
  height: 200px;
}

@media screen and (min-width: 450px) {
  .App {
    background-image: url("assets/tablet/bg-image-daytime.jpg");
  }
  .evening {
    background-image: url("./assets/tablet/bg-image-nighttime.jpg");
  }
}
@media  screen and (min-width: 768px) {
  .empty {
    height: 0;
  }
  
}
@media screen and (min-width: 800px) {
  .App {
    background-image: url("assets/desktop/bg-image-daytime.jpg");
    /* padding: 50px 200px; */
  }
 
  .evening {
    background-image: url("./assets/desktop/bg-image-nighttime.jpg");
  }
}
